<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.UserMapper">
    <insert id="insertUser">
        insert into users(password, user_name, company_id)
        values(#{password}, #{username}, #{companyId})
    </insert>

    <select id="getAllUser" resultType="com.example.dto.req.UserDto">
    select user_name as username, password from users
</select>
    <select id="getPasswordByUsername" resultType="java.lang.String">
        select password
        from users
        where user_name = #{username}
    </select>
    <select id="getUserByUsername" resultType="java.lang.Integer">
        select count(*)
        from users
        where user_name = #{username}
    </select>
    <select id="getCompanyIdByCompanyName" resultType="java.lang.Integer">
        select company_id
        from companies
        where company_name = #{companyName}
    </select>
    <select id="getCompaniesData" resultType="com.example.dto.resp.CompanyDto">
        select company_id, company_name
        from companies
    </select>

</mapper>
